@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');

body {
  background-image: linear-gradient(#FFD9F2, white);
}

main {
  font-family: "Playfair Display"
}

#sticky {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #ffe9ec;
  border: 2px solid white;
  position: fixed;
  top: 0;
  width: 98.7%;
}

#sticky li {
  display: inline;
  padding-right: 60px;
}

#sticky a {
  text-decoration: none;
}

#sticky a:hover {
  color: green;
}

.projects {
  padding-top: 30px;
  text-align: center;
  justify-items: center;
}

.projects img {
  float: left;
  width: 16%;
  height: auto;
  padding-left: 20%;
  
}

.project-container {
  padding-top: 5%;
  border: 2px solid black;
  padding-bottom: 120px;
}

footer {
  text-align: center;
}

