@import url('https://fonts.googleapis.com/css?family=Delius+Swash+Caps|Mali&display=swap');

body {
  background-image: linear-gradient(#FFD9F2, white);
}

#sticky {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #ffe9ec;
  border: 2px solid white;
  position: fixed;
  top: 0;
  width: 98.7%;
}

#sticky li {
  display: inline;
  padding-right: 60px;
}

#sticky a {
  text-decoration: none;
}

#sticky a:hover {
  color: green;
}

#splash-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8rem;
  padding-bottom: 7rem;
  justify-content: center;
  border: 2px solid white;
  
  background-image: url("../images/blank-composition-data-373076.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

#splash-section h1, sub {
  font-family: "Delius Swash Caps";
  font-size: 3rem;
  letter-spacing: 20px;
  background-color: papayawhip;
  border: 1px solid black;
}

#splash-section sub {
  font-size: 1.5rem;
}

#splash-section, #intro {
  font-family: "Mali"
}

#intro {
  text-align: center;
}

.icon-links img{
  display: inline-block;
  margin: 0 auto;
  margin-left: auto;
  margin-right: auto;
  width: 5%;
  height: auto
}

.icon-links {
  text-align: center;
}

footer {
  padding-top: 35px;
  text-align: center;
}

.copyright {
  padding-top: 15px;
}

